<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlueOnionSoftware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BlueOnionSoftware.Properties.Settings>
            <setting name="BuildHeaderForeground" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="BuildTextForeground" serializeAs="String">
                <value>#FF808080</value>
            </setting>
            <setting name="LogErrorForeground" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="LogWarningForeground" serializeAs="String">
                <value>#FFB8860B</value>
            </setting>
            <setting name="LogInformationForeground" serializeAs="String">
                <value>#FF00008B</value>
            </setting>
            <setting name="LogSpecialForeground" serializeAs="String">
                <value>#FF800080</value>
            </setting>
        </BlueOnionSoftware.Properties.Settings>
    </applicationSettings>
</configuration>